:root {
	--navbar--color: rgb(38, 40, 51);
	--background--color: #aaa;
	--green: rgb(57, 233, 145);
}
html,
body {
	box-sizing: border-produs;
	padding: 0;
	margin: 0;
}
.page {
	background-size: cover;
	background-image: url(../images/camo1.jpg);
}
#container {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 1000px;
}
#container-logo {
	width: 100%;
	max-width: 1200px;
	height: 160px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--navbar--color);
	/* padding: 0px 25px 0 25px; */
	border-radius: 15px 15px 0 0;
}
#logo img {
	height: 100px;
	padding: 20px;
}
.search {
	display: flex;
	align-items: center;
}
.search input {
	width: 300px;
	line-height: 35px;
	border-radius: 10px;
}
.search img {
	height: 1.5rem;
	margin-left: 5px;
}
.header-btns-container {
	display: flex;
	align-items: center;
	padding: 20px;
}
.header-btns {
	height: 45px;
	border: 2px solid white;
	background-color: var(--navbar--color);
	color: white;
	border-radius: 10px;
	margin-left: 15px;
}
#btn-cos {
	display: flex;
	align-items: center;
}
#btn-cos img {
	filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg)
		brightness(102%) contrast(102%);
	width: 25px;
}
nav {
	width: 100%;
	max-width: 1200px;
	/* padding: 0 25px 0 25px; */
	background-color: rgb(57, 233, 145);
	display: flex;
	justify-content: flex-start;
	border-radius: 10px;
	gap: 75px;
	border-bottom: 3px solid var(--navbar--color);
}
.btn-navbar {
	height: 45px;
	border: none;
	background-color: rgb(57, 233, 145);
	color: var(--navbar--color);
	font-size: 30px;
	border-radius: 10px;
}
.btn-navbar:hover {
	cursor: pointer;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
		rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
		rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.shop-container {
	width: 100%;
	max-width: 1200px;
	display: flex;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
.filtrare {
	height: 500px;
	width: 15%;
	border-right: 2px solid var(--green);
	background-color: var(--navbar--color);
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px;
	border-bottom-left-radius: 10px;
}
.filters-title {
	width: 100%;
	color: white;
	font-size: 30px;
	text-align: left;
	border-bottom: 1px solid #ddd;
	margin-bottom: 30px;
}
.filtrare-mobile {
	display: none;
}
.filtru {
	width: 100%;
	height: 50px;
	text-align: center;
	font-size: 25px;
	color: white;
}
.filtru input {
	float: right;
}
.produse {
	width: 90%;
	display: flex;
	flex-wrap: wrap;
	background-color: white;
}

.sort {
	width: 100%;
	padding: 5px 0 5px 50px;
	border-bottom: 1px solid #ddd;
	/* background-color: #e2264d; */
}
.sort select {
	height: 40px;
	border-radius: 5px;
}
.produs {
	height: fit-content;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.produs:hover {
	cursor: pointer;
	box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
		rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;

	transition: box-shadow 0.5s ease-in-out;
}
.poza {
	flex-grow: 2;
	text-align: center;

	padding-top: 5%;
}
.poza img {
	width: 70%;
}
[id="heart"] {
	position: absolute;
	left: -100vw;
}

[for="heart"] {
	color: #aab8c2;
	cursor: pointer;
	font-size: 30px;
	align-self: center;
	transition: color 0.2s ease-in-out;
}

[for="heart"]:hover {
	color: grey;
}

[for="heart"]::selection {
	color: none;
	background: transparent;
}

[for="heart"]::moz-selection {
	color: none;
	background: transparent;
}

[id="heart"]:checked + label {
	color: #e2264d;
	will-change: font-size;
	animation: heart 1s cubic-bezier(0.17, 0.89, 0.32, 1.49);
}

.descriere {
	flex-grow: 1;
	text-align: center;
	color: var(--navbar--color);
	font-weight: bold;
	padding: 5%;
}
.pret {
	flex-grow: 1;
	font-size: 35px;
	color: var(--green);
	text-shadow: 1px 1px var(--navbar--color);
	font-weight: bold;
}
.btn-adauga {
	width: 60%;
	height: 45px;
	border: 2px solid white;
	background-color: var(--navbar--color);
	color: white;
	border-radius: 10px;
}
.footer {
	background-color: var(--navbar--color);
	width: 100%;
	max-width: 1200px;
	min-height: 200px;
}
.home-page {
	width: 100%;
	max-width: 1200px;
	display: flex;
	flex-direction: column;
}
.carusel-oferte {
	background-color: white;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}
.carusel-oferte img {
	width: 100%;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}
.poze-oferte img {
	width: 100%;
}
.carusel-titlu {
	width: 100%;
	height: 30px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	background-color: var(--navbar--color);
	color: white;
	text-align: center;
	font-size: 25px;
}
.carusel-produse {
	background-color: white;
	display: flex;
}
.hidden {
	display: none;
}
@media (max-width: 1000px) {
	.filtrare {
		width: 300px;
	}
}
@media (max-width: 600px) {
	#container-logo {
		flex-direction: column;
		height: fit-content;
		gap: 10px;
		padding: 0;
		border-radius: 0;
	}
	.search {
		width: 80%;
	}
	.search img {
		height: 2.5rem;
	}
	.header-btns-container {
		width: 100%;
		flex-direction: column;
		padding: 0;
	}
	.header-btns {
		margin: 0;
		width: 100%;
		font-size: 25px;
	}
	#btn-admin {
		text-align: left;
	}
	#btn-favorites {
		text-align: left;
	}
	nav {
		justify-content: space-evenly;
		padding: 0;
	}
	.shop-container {
		flex-direction: column;
	}
	.filtrare {
		display: none;
	}
	.produse {
		width: 100%;
	}
}
